* {
  padding: 0;
  margin: 0;
  font-family:sans-serif;
}


body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #38598b; 
  background: #e7eaf6  ; 
  background-size: cover;
}

body::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: -1; 
}

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.input label {
  text-align: center;
  font-size: 18px;
  margin-bottom: 8px;
  color: #113f67;
}

.input select {
  border: none;
  border-radius: 8px;
  min-width: 300px;
  margin:0 auto;
  font-size: 16px;
  padding: 8px 4px;
  background-color: #113f67  ;
  color: #e7eaf6  ;
}

.input select:focus {
  outline: none;
}

.circle-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
}

.circle-outline {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: transparent;
  border: 15px solid #a2a8d3;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.circle-progress {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: #113f67  ;
  border-radius: 50%;
  transition: 4s ease all;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.circle-grow {
  transform: scale(5.3);
}

.breaths {
  text-align: center;
  margin-bottom: 24px;
  font-size: 24px;
  color: #113f67  ;
}

.instructions {
  text-align: center;
  margin-bottom: 32px;
  color: #113f67  ;
}

button {
  padding: 8px 20px;
  border-radius: 8px;
  background-color: #113f67  ;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.3s ease all;
  box-shadow: 0 1px 3px 0  rgba(0, 0, 0, 0.06);
  margin:0 auto;
}

button:hover {
  background-color: #38598b  ;
  color: #113f67  ;
}

.button-inactive {
  pointer-events: none;
  background-color: #a2a8d3  ;
}

.gaboy{
  width:150px;
  height:150px;
  background:transparent;
}
